@import "myVariables";
@import "myMixins";
@import "base";

#menu-bottom {
    @include calcHeightWrapper(1.2);
    background-color: $color-base-grey;
    & .menu-bottom {
        &__content {
            @include createLogo();
            & div:nth-child(2) {
                & a {
                    text-decoration: none;
                    color: $color-base-blue;
                    margin: 0 0.5rem;
                    font-weight: bolder;
                }
            }
        }
    }
}