//COLOR
$color-base-blue: rgb(23, 152, 198);
$color-base-light-blue: rgb(236, 245, 251);
$color-base-green: rgb(23, 169, 73);
$color-base-light-green: rgb(128, 194, 65);
$color-base-grey: rgb(239, 239, 239);
$color-base-strong-grey: rgb(223, 223, 223);
//HEIGHT
$nav-height: 4rem;
//BREAK POINT
$large-screen:1380px;
$x-large-screen:1800px;
$xx-large-screen:2000px;
